extends layout

block content 
  h1 #{header}

  form.post(method="post") 
    div
      label(for="name") Name 
      input#name(type="text", name="name", required, value!=(undefined===brand ? "" : brand.name))
    if errors
      each error in errors
        p.error #{error.msg}
    button.submit-button(type="submit") #{header}