extends layout 

block content 
  h1 Brands 
  include search
  
  if !allBrands.length
    p No brands found
  
  div.content
    each brand, index in allBrands
      a(href=brand.url) !{brand.name}
      if index < allBrands.length - 1
        hr