extends layout 

block content 
  h1 Delete !{category.name}
  p WARNING: This will delete all items in the category.
  p Are you sure you want to delete !{category.name}?

  form(method="post") 
    button.cancel-button(type="button") Cancel 
    button.delete-button(type="submit") Delete