extends layout 

block content 
  h1 Categories
  include search
  
  if !allCategories.length
    p No categories found
  
  div.content
    each category, index in allCategories 
      a(href=category.url) !{category.name}
      if index < allCategories.length - 1
        hr