extends layout 

block content 
  h1 Delete !{item.name}
  p Are you sure you want to delete !{item.name}?

  form(method="post") 
    button.cancel-button(type="button") Cancel 
    button.delete-button(type="submit") Delete