extends layout 

block content 
  h1 Items 
  include search
  
  if !allItems.length
    p No items found
  
  div.content
    each item, index in allItems 
      a(href=item.url) !{item.name}
      if index < allItems.length - 1
        hr