doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      a(href="/inventory") Home
      a(href="/inventory/items") Items
      a(href="/inventory/categories") Categories
      a(href="/inventory/brands") Brands
    main
      block content
